@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<link href="~/register-login.css" rel="stylesheet" />
<div class="register-login-container">

    <img id="forgot-img" src="~/Kuafor_Resimler/forgot.jpg" />
    <div id="roww" class="row">
        <h1>Şifreni mi unuttun ?</h1>
        <h4>E-posta adresini gir.</h4>
        <hr />
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email">E-posta</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Onayla</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
