@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifrenizi değiştirmek için lütfen e-postanı kontrol et.
</p>

