@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreniz değiştirildi. Lütfen <a asp-page="./Login">buraya</a> tıklayarak giriş yapın.
</p>
